<div class='controls'>
  <div>
    <div><%- img_tag('images/controls/like.svg', 'Like') %></div>
    <div><%- img_tag('images/controls/dislike.svg', 'Dislike') %></div>
  </div>
  <div>
    <div><%- img_tag('images/controls/comment.svg', 'Comment') %></div>
    <div><%- img_tag('images/controls/pheedto.svg', 'Pheed to') %></div>
  </div>
  <div>
    <div><%- img_tag('images/controls/favorite.svg', 'Favorite') %></div>
    <div><%- img_tag('images/controls/repheed.svg', 'Re-pheed') %></div>
  </div>
  <div>
    <div><%- img_tag('images/controls/facebook.png', 'Facebook') %></div>
    <div><%- img_tag('images/controls/twitter.png', 'Twitter') %></div>
  </div>
  